.section__2 {
  display: flex;
}

.section__2__wrap {
  margin-top: 228px;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1439px) {
    margin-top: 318px;
  }
  @media screen and (max-width: 1023px) {
    margin-top: 356px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 954px;
  }

  h2 {
    @include H2;
    color: $c5;

    @media screen and (max-width: 1439px) {
      font-size: 36px;
    }
    @media screen and (max-width: 767px) {
      font-size: 20px;
      text-align: center;
    }
  }

  h3 {
    @include H3;
    color: $c1;
    margin-top: 30px;

    @media screen and (max-width: 1439px) {
      font-size: 24px;
    }

    @media screen and (max-width: 1023px) {
      text-align: center;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
      margin-top: 20px;
    }
  }

  button {
    width: 404px;
    height: 60px;
    margin-top: 40px;
    border: none;
    cursor: pointer;

    background: $sk;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;


    &:hover {
      background: $c1;
    }

    &:active {
      background: $c2;
    }

    @media screen and (max-width: 1439px) {
      margin-top: 82px;
    }

    @media screen and (max-width: 767px) {
      width: 280px;
    }
  }
}

.section__2__wrap__item {
  width: 100%;
  margin-top: 60px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    margin-top: 30px !important;
  }

  li + li {
    @media screen and (max-width: 767px) {
      margin-top: 30px;
    }
  }

  a {
    display: block;
    width: 410px;
    cursor: pointer;
    text-decoration: none;
    border-right: 20px;

    @media screen and (max-width: 1439px) {
      width: 300px;
    }

    @media screen and (max-width: 1023px) {
      width: 230px;
    }

    &:hover {
      background: $c4;
      border-radius: 20px;
    }

    &:active {
      opacity: 0.8;
    }
  }

  img {
    filter: drop-shadow(0px 15px 20px rgba(0, 0, 0, 0.05));
    border-radius: 20px;

    @media screen and (max-width: 1023px) {
      height: 200px;
      object-fit: cover;
    }
  }

  p {
    &:nth-of-type(1) {
      margin-top: 20px;

      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-align: center;

      color: $c5;

      @media screen and (max-width: 1439px) {
        font-size: 20px;
        margin-top: 30px;
      }
      @media screen and (max-width: 1023px) {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &:nth-of-type(2) {
      margin-top: 20px;

      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-align: center;

      color: $c5;

      @media screen and (max-width: 1439px) {
        font-size: 20px;
        margin-top: 30px;
      }
      @media screen and (max-width: 1023px) {
        font-size: 18px;
      }
      @media screen and (max-width: 767px) {
        margin-top: 20px;
      }
    }
  }
}