.section__3{
  display: flex;
}

.section__3__wrap{
  margin-top: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    @include H2;
    color: $c5;
  }

  h3{
    @include H3;
    color: $c1;
    margin-top: 30px;
    text-align: center;
  }

  span{
    font-weight: 800;
    font-size: 28px;
    line-height: 39px;
  }
}

.s3__slide-window{
  width: 100%;
  margin-top: 29px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider__items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  li{
    position: relative;
    display: flex;
    justify-content: center;

  }

  button{
    position: absolute;
    top: 349px;

    width: 182px;
    height: 40px;

    background: rgba(255, 255, 255, 0.6);

    border: 2px solid $c1;

    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
    border-radius: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;

    color: $c1;

    cursor: pointer;

    &:hover{
      background: rgba(255, 255, 255, 0.7);
    }
    &:active{
      background: rgba(255, 255, 255, 0.8);
    }
  }
}

.wrap__button__slider{
  display: flex;
  justify-content: space-between;
  width: 1390px;
  position: absolute;
  left: -50px;
  top: 180px;

}

.btn__form{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.btn__left{
  background: $c4 center/23px url("../img/arrow_left.svg") no-repeat;
}
.btn__right{
  background: $c4 center/23px url("../img/arrow_right.svg") no-repeat;
}

.wrap__points__slider{
  margin-top: 26px;
  display: flex;
  text-align: center;
  align-items: center;

  span{
    line-height: 18px;
    background: $c3;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 6px 10px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    &:active{
      width: 24px;
      height: 24px;
      background: $c2;
      margin: 0 7px;
      transition: background-color 0.6s ease;
    }
  }
}